.movie-search-main {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .movie-search {
    flex: 1;
    flex-direction: column;
    width: 90%;
    margin: 40px auto 20px auto;

    h3 {
      font-weight: bold;
      color: #02416b;
      padding-left: 10px;
      border-left-color: #02416b;
      border-left-width: 8px;
      border-left-style: solid;
    }

    .movie-search-section {
      padding: 40px 0;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 30px;

      .search-notfound {
        color: #02416b;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90vw;
        height: 30vh;
        margin: auto;
      }
    
      
      .movie-card-search {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        width: 100%;
    
        p {
          margin-top: 10px;
          font-weight: bold;
          word-wrap: break-word;
        }
    
        img {
          width: 100%;
          border-radius: 10px;
          box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
          -webkit-transform: scale(1);
          transform: scale(1);
          -webkit-transition: .3s ease-in-out;
          transition: .3s ease-in-out;

          &:hover {
            -webkit-transform: scale(1.03);
            transform: scale(1.03);
            opacity: 0.9;
          }
        }
      }
    }
  } 
}

@media screen and (max-width: 900px) {
  .movie-search-main {
    .movie-search {
      .movie-search-section {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .movie-search-main {
    .movie-search {
      .movie-search-section {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}