.footer-com {
  background-color: #02416b;

  .footer {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    color: white;
    align-items: center;

    .logo {
      font-size: 30px;
      font-weight: bold;
    }

    .api {
      display: flex;
      gap: 30px;
      
      .image-1 {
        display: flex;
        flex-direction: column;
      }

      p {
        margin-bottom: 5px;
      }

      .image-2 {
        display: flex;
        gap: 10px;
        align-items: center;
      }
    }
  }

  .copyright {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #012842;

    p {
      margin: 0;
      padding: 10px 0;
    }

    span {
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 600px) {
  .footer-com {
    
    .footer {
      display: flex;
      flex-direction: column;
      align-items: initial;

      .logo {
        font-size: 35px;
      }
        .api {
          flex-direction: column;

          .image-1 {
          img {
            width: 50px;
          }
        }
      }
    }
  }
}