.search-bar {
  
  input {
    width: 100%;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
  }
}

@media screen and (min-width: 500px) {
  .search-bar {
    width: 50%;
  }
}

@media screen and (max-width: 400px) {
  .search-bar {
    display: none;
  }
}