.main-app {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .main-content {
    flex: 1;
    margin: auto;
  }
}

// @media screen and (max-width: 700px) {
//   .main-app {
//     .main-content {
//       width: 90%;
//     }	
//   }
// }