.loader-section {

  .loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid  #02416b;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
}

@media screen and (max-width: 500px) {
  .loader-section{
    width: 90%;
    height: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}