.movies {
  .btn-category {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 40px;
    gap: 10px;
  
    button {
      padding: 10px;
      background-color: transparent;
      border: none;
      font-weight: bold;
      text-transform: uppercase;
      box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
      border-radius: 10px;
      color: #02416b;

      &:hover {
        background-color: #0c639e;
        color: white;
      }

      &:focus {
        background-color: #0c639e;
        color: white;
      }
    }
  }

  h3 {
    font-weight: bold;
    color: #02416b;
    padding-left: 10px;
    border-left-color: #02416b;
    border-left-width: 8px;
    border-left-style: solid;
  }
  
  .movie {
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    
    .movie-card {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      width: 100%;
  
      p {
        margin-top: 10px;
        font-weight: bold;
        word-wrap: break-word;
      }
  
      img {
        width: 100%;
        border-radius: 10px;
        box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;

        &:hover {
          -webkit-transform: scale(1.03);
          transform: scale(1.03);
          opacity: 0.9;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .movies {

    .movie {
      grid-template-columns: repeat(3, 1fr);
      
      .movie-card {
    
        p {
          margin-top: 10px;
          font-weight: bold;
          word-wrap: break-word;
        }
    
        img {
          width: 100%;
          border-radius: 10px;
          box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
        }
      }
    }
  }
}


@media screen and (max-width: 500px) {
  .movies {

    .movie {
      grid-template-columns: repeat(2, 1fr);
      
      .movie-card {
    
        p {
          margin-top: 10px;
          font-weight: bold;
          word-wrap: break-word;
        }
    
        img {
          width: 100%;
          border-radius: 10px;
          box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
        }
      }
    }
  }
}

