.pagination {
  margin: 15px auto;
  display: flex;
  flex-wrap: wrap;
  line-height: 2.2rem;
  list-style: none;
  outline: none;
}
.pagination > .active > a{
  background-color:  #02416b ;
  border-color:  #02416b ;
  color: #fff;
}
.pagination > li > a{
  border: 1px solid  #02416b ;
  padding: 5px 10px;
  outline: none;
  color:  #fff;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color:  #02416b ;
  border-color:  #02416b;
  color:  #fff;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color:  #fff;
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset;
  font-weight: bold;
  color: #02416b;
}