.movie-review {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .movie-backdrop {
    width: 100%;
  }

  .review-section {
    flex: 1;
    width: 90%;
    margin: 40px auto;
    display: flex;
    gap: 20px;
    flex-direction: column;

    .review-card {
      box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
      padding: 15px 20px;
      border-radius: 5px;
      display: flex;
      gap: 15px;
      justify-content: center;
      align-items: center;

      .review-image {
        width: 150px;
        
        img {
          width: 100%;
          justify-content: center;
          align-items: center;
          display: flex;
          margin: auto 0;
        }
      }

      .review-text {
        display: flex;
        flex-direction: column;
        flex: 1;

        .content-review {
          overflow: hidden;
          white-space: wrap;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3; /* number of lines to show */
          -webkit-box-orient: vertical;
        }

        .no-review {
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .review-card {
    flex-direction: column;
  }
}