html {
  scroll-behavior: smooth;
}

.homepage-main {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .homepage {
    width: 90%;
    display: flex;
    margin: 40px auto;
    flex: 1;
  }
}