.header-com {
  background-color: #02416b;
  // position: fixed;
  top: 0;
  // z-index: 100;
  width: 100%;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);

  .header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    align-items: center;

    img {
      cursor: pointer;
    }

    .profile {
      position: absolute;
      background-color: white;
      z-index: 100;
      right: 60px;
      margin: 0;
      top: 55px;
      padding: 10px 5px;
      box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
      border-radius: 4px;

      .sign-out {
        cursor: pointer;

        &:hover {
          // background-color: #02416b;
          color:  #02416b;
        }
      }

      hr {
        margin: 4px 0;
      }

      p {
        margin: 0;
        padding: 0 10px;
      }
    }

    .link-to {
      font-size: 30px;
      font-weight: bold;
      color: white;
      margin: 5px 0;
      text-decoration: none;
      cursor: pointer;
    }

    .header-btn {
      padding: 5px 20px;
      border-radius: 5px;
      border: 2px solid white;
      background-color: transparent;
      color: white;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;

      &:hover {
        background-color: rgb(255, 255, 255);
        color: #02416b;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .header-com {
    .header {
      .profile {
        right: 20px;
        top: 55px;
      }
    }
  }
}